Flows/OpenWeather.json
[{"id":"85bc147f.d5e45","type":"inject","name":"","topic":"","payload":"Paris,Fr","payloadType":"string","repeat":"","crontab":"","once":false,"x":122,"y":94,"z":"25405620.5e2302","wires":[["4fd6554d.027d9c"]]},{"id":"20a99543.dfa9c2","type":"debug","name":"","active":true,"console":"false","complete":"true","x":782,"y":218,"z":"25405620.5e2302","wires":[]},{"id":"c27f1e3c.c78fd","type":"OpenWeather","name":"","x":585,"y":148,"z":"25405620.5e2302","wires":[["20a99543.dfa9c2"]]},{"id":"6c945b7d.a39224","type":"inject","name":"","topic":"","payload":"London,Uk","payloadType":"string","repeat":"","crontab":"","once":false,"x":124,"y":245,"z":"25405620.5e2302","wires":[["4fd6554d.027d9c"]]},{"id":"4fd6554d.027d9c","type":"function","name":"Store location","func":"msg.location= msg.payload;\nreturn msg;","outputs":1,"x":372,"y":227,"z":"25405620.5e2302","wires":[["c27f1e3c.c78fd"]]},{"id":"6ede1b58.5fe60c","type":"inject","name":"","topic":"","payload":"New-York, US","payloadType":"string","repeat":"","crontab":"","once":false,"x":127,"y":375,"z":"25405620.5e2302","wires":[["4fd6554d.027d9c"]]}]